<h1>Create User Again!!!!</h1>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>
<p>
  <b>Address:</b>
  <%= @user.address %>
</p>
<p>
  <b>Postal Code:</b>
  <%= @user.postal_code %>
</p>

<%= link_to 'index', users_url %> 
